
header{
    z-index: 10;
    width: 100%;
    position: fixed;
}

header > nav.main-nav {
    display: flex;
    justify-content: space-between;
    left: 0;
    height: 44px;
    right: 0;
    padding: 40px;
    position: absolute;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}


header > nav.main-nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}



header > nav.main-nav > .nav-brand > a > img {
    width: 60px;
    height: 60px;
}

header > nav.main-nav > ul > li {
    padding: 1px;
}

header > nav.main-nav > ul > li > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header > nav.main-nav > ul > li > a  button {
    display: flex;
    background: none;
    flex-wrap: wrap;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    padding: 15px;
    margin-left: 10px;
    transition: all 0.3s ease-in-out 0s;
    color: rgb(255, 255, 255);
    background-blend-mode: overlay;
}

header > nav.main-nav > ul > li > a  button:hover {
    background-color: #c3c3ce1f;
}

header > nav.main-nav > ul > li > a  button > p {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    margin: auto auto auto 10px;
}

header > nav.main-nav > .menu-icon-container {
    display: none;
}

@media(max-width:660px) {
    header > nav.main-nav > ul {
        display: none;
    }
    header > nav.main-nav > .menu-icon-container {
        display: block;
    }
}